<a href="/#formis"><div class="special-component"><button>BOOK HER</button></div></a>

<style>
  button {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    background-color: #6c0000;
    color: white;
    border: none;
    border-radius: 35px;
    white-space: nowrap; 
  }

  @media (max-width: 1024px) {
    button {
      font-size: 10px;
    }
  }
</style>
